Repository bellshade/OpenSeries, pull requests merged in 2024-01, with the labels that each got.

#20 Barometrik
  OpenSeries/fisika.py
  example/fisika/tekanan_barometrik.py
  testing/fisika_test.py
  testing/main_test.py
Labels: OpenSeries Python

#21 chore: menambahakan natural language indonesia
  README.md
  pyproject.toml
Labels: ready-to-merge

#22 feat: menambahkan fungsi euler pi
  OpenSeries/matematika.py
  testing/main_test.py
  testing/matematika_test.py
Labels: OpenSeries Python, ready-to-merge

#23 feat: upgrade dari error handling
  OpenSeries/fisika.py
  OpenSeries/matematika.py
  OpenSeries/statistika.py
  OpenSeries/util/constant.py
  OpenSeries/util/error.py
  README.md
  example/matematika/radian_ke_derajat.py
  testing/fisika_test.py
  testing/matematika_test.py
  testing/statistika_test.py
Labels: OpenSeries Python

#24 feat: menambahkan fungsi fisika
  .pre-commit-config.yaml
  OpenSeries/fisika.py
  example/fisika/efek_doppler.py
  example/fisika/gaya_sentripental.py
  testing/fisika_test.py
  testing/main_test.py
Labels: OpenSeries Python

#25 docs: menambahkan dokumentasi docstring
  .github/workflows/pypi.yml
  .github/workflows/pythontesting.yml
  OpenSeries/fisika.py
  OpenSeries/matematika.py
  OpenSeries/statistika.py
Labels: OpenSeries Python

#29 feat: deploy to pypi
  pyproject.toml
  setup.py
Labels: OpenSeries Python

#30 Develop library
  .dockerignore
  .github/workflows/pypi.yml
  .github/workflows/pythontesting.yml
  .mergify.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Dockerfile.openseries_test
  OpenSeries/fisika.py
  OpenSeries/matematika.py
  OpenSeries/statistika.py
  OpenSeries/util/constant.py
  OpenSeries/util/error.py
  README.md
  docker.sh
  example/fisika/efek_doppler.py
  example/fisika/gaya_sentripental.py
  example/fisika/tekanan_barometrik.py
  example/matematika/radian_ke_derajat.py
  example/matematika/sigmoid.py
  pyproject.toml
  setup.py
  testing/fisika_test.py
  testing/main_test.py
  testing/matematika_test.py
  testing/statistika_test.py
Labels: OpenSeries Python, ready-to-merge

#31 docs: change banner openseries
  .github/openSeries.png
  .gitignore
Labels: ready-to-merge

#32 fix: ignore package-lock.json file
  .gitignore
  package-lock.json
Labels: ready-to-merge

#33 chore: merubah penamaan variabel konstan
  OpenSeries/matematika.py
  OpenSeries/util/constant.py
Labels: OpenSeries Python, ready-to-merge
